<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

{{!-- the ;error.hbs file is typically used to utilize the handlebars as their templating engine. 
// handlebars allows you to generate html dynamically--}}