
.form-sign {
  max-width: 330px;
  padding: 15px;  
  margin: 0 auto;
}

.CodeMirror{
  height: 100vh;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: beige;
}
*, *:before, *after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* #my-video{
  width: 15vw;
  height: auto;
  background-color: #eee;
  border: 1px solid rgb(96, 96, 133);
  border-radius: 3%;
}
#second-video{
  width: 15vw;
  height: auto;
  background-color: #493131;
  border: 1px solid green;
  border-radius: 3%;
} */

/* #video-container{
  text-align: center;
} */

#step1-error, #step2, #step3{
   display: none;
}

#my-id{
  font-weight: bold;
}